{% extends "layout/base.html" %}

{% block content %}

<h2 class="mb-4">Waiting Approval</h2>

<p>Count = {{ waiting_steps|length }}</p>

<div class="table-responsive d-none d-lg-block">

<table class="table table-striped">

    <thead class="table-dark">
        <tr>
            <th>Document No</th>
            <th>Title</th>
            <th>Step</th>
            <th>Status</th>
            <th width="180">Action</th>
        </tr>
    </thead>

    <tbody>

        {% for step in waiting_steps %}

        <tr>

            <td>{{ step.document.document_no }}</td>

            <td>{{ step.document.title }}</td>

            <td>{{ step.sequence }}</td>

            <td>

                <span class="badge bg-warning">

                    {{ step.status }}

                </span>

            </td>

            <td>

                <a href="/documents/{{ step.document.id }}" class="btn btn-primary btn-sm">

                    View

                </a>

            </td>

        </tr>

        {% else %}

        <tr>

            <td colspan="5" class="text-center">

                No documents waiting for approval.

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

</div>

<div class="d-block d-lg-none">

    {% for step in waiting_steps %}

    <div class="card shadow-sm mb-3">

        <div class="card-body">

            <h5 class="fw-bold">

                {{ step.document.document_no }}

            </h5>

            <hr>

            <p>

                <strong>Title</strong><br>

                {{ step.document.title }}

            </p>

            <p>

                <strong>Approval Step</strong><br>

                {{ step.sequence }}

            </p>

            <p>

                <strong>Status</strong><br>

                <span class="badge bg-warning">

                    {{ step.status }}

                </span>

            </p>

            <a href="/documents/{{ step.document.id }}"

               class="btn btn-primary w-100">

                View

            </a>

        </div>

    </div>

    {% else %}

    <div class="alert alert-secondary">

        No documents waiting for approval.

    </div>

    {% endfor %}

</div>

{% endblock %}